.container{
    width : 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: aqua;
    text-align: center;
}
.btn{
    height: 40px;
    margin: 2px;
    padding: auto;
    border:yellow solid 4px;
    border-radius: 6px;
    background-color: yellow;
    margin-top: 20px;
}
.joke{
    font-weight: normal;
}